/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


/* card effect */
.card {
  transition: transform .25s ease-out;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-1rem);
}

